.navbar{
    display: flex;
    background-color: #1C2B35;
    align-items: center !important;
    justify-content: space-between;
    padding: 0.5rem 7rem;

}
.brand-logo {
    display: flex;
    justify-content: center;
}


.nav-menu ul{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: white;
}
.nav-menu ul li a:hover{
    color: orange;
}