.navbarr{
    display: flex;
    background-color: #1C2B35;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.brand-logo {
    display: flex;
    justify-content: center;
}


.nav-menu ul{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 900px){
    body{
        background-color: red;
    }
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: white;
}
.nav-menu ul li a:hover{
    color: orange;
}